@blue 		: #2C3E50;
@light-blue : #E7F3F8;
@grey 		: #7F8C8D;
@white 		: #FFFFFF;

/******************************************************************************
*	LOADING SPINNER
******************************************************************************/

 .loadingSpinner {
 	padding: 9%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background: rgba(0,0,0,0.4);
	color: #ecf0f1;

	img {
		width: 17%;
	}
 }

/******************************************************************************
*	NAVBAR STYLES
******************************************************************************/

.navbar {
	background-image: linear-gradient(to top, #e74c3c, #c0392b);
	border: none;
	.navbar-text {
		// font-size: 16px;
		color: #000;
	}
}

/******************************************************************************
*	LOGIN PAGE STYLES
******************************************************************************/

.login-form {
	padding: 20px 0 20px 0;

	input {
		margin: 10px 0 10px 0;
	}
}

.loginSpinner {
	img {
		width: 100%;
	}
}

/******************************************************************************
*	LISTING PAGE STYLES
******************************************************************************/

.filters {
	color: #000;
}

#listing-view {
	margin-top: -70px;
}

.listing-item {
	margin-top: 50px;

	.listing-book {
		margin-top : 15px; 
		button {
			border-radius: 0;
			font-weight: bold;
		}
	}

	.listing-thumbnail {
		width: 100%;
	}

	.listing-title {
		// color: @white;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 8px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.listing-synopsis {
		height: 140px;
		// color: @white;
		margin-bottom: 8px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.listing-status {
	}
}

/******************************************************************************
*	MOVIE PAGE STYLES
******************************************************************************/

.movie-info {
	background-color: @light-blue;
	margin-top: -20px;
	padding-top: 80px;
	padding-bottom: 80px;

	.movie-poster {
		img {
			height: 580px;
			width: 400px;
		}
	}
}

.movie-details {
	.movie-title {
		margin-bottom: 20px;
		font-size: 25px;
		font-weight: bold;
		// color: @white;
	}

	div span:first-child {
		color: @grey;
		padding-left: 0;
	}

	div span:last-child {
		// color: @white;
	}

	.movie-book {
		margin-top: 20px;
		
		button {
			font-weight: bold;
			border-radius: 0
		}
	}

	.movie-synopsis {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.movie-showtimes {
	background-color: @white;
	
	h3 {
		border-bottom: 2px solid @grey;
	}

	.movie-showtime-container {

		.movie-showtime-venue {
			border-top: 2px solid @blue;
			border-bottom: 1px solid @blue;
			padding: 10px 0 10px 0;
			font-weight: bold;
		}

		.movie-showtime-list {
			list-style: none;
			padding: 0;

			& > li {
				height: 40px;
				padding: 10px 0 10px 0;
				border-top: 1px solid @blue;
			}
		}

		.movie-showtime-timelist {
			list-style: none;
			padding: 0;
			li {
				display: inline;
				margin-right: 10px;
			}
		}
	}
}

/******************************************************************************
*	BOOKING PAGE STYLES
******************************************************************************/

.booking-movie-info {
	background-color: @light-blue;
	border-radius: 5px;
	border: none;
	font-size: 18px;

	.panel-heading {
		background-color: #e74c3c;
		padding: 10px 10px 10px 40px;
		font-size: 20px;
		font-weight: bold;
		color: @light-blue;
	}
}

.booking-movie-seats {
	width: 1140px;

	.booking-seats-container {
		padding: 20px;
		// background-color: #000;
		background:url("../img/seat/cinemaBg.jpg") no-repeat;
		height: 500px;

		.booking-screen {
			background-image: url(../img/seat/screen.jpg);
			background-repeat: repeat-x;
			height: 40px;
			width: 900px;
			color: #FFF;
			font-size: 25px;
			font-weight: bold;
		}
	}
}

/******************************************************************************
*	CONFIRMATION PAGE STYLES
******************************************************************************/

.confirmation-summary {
	margin-top: 40px;
}

/******************************************************************************
*	ADMIN PAGE STYLES
******************************************************************************/

.admin-nav {
	font-size: 18px;
	a {
		color: #FFF;
	}
}

.admin-management {
	.panel {
		border-radius: 0;
	}
}