<section class="container users-management">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>User Management<button type="button" class="btn btn-primary pull-right">Add User</button></h3>
		</div>
		<div class="panel-body">
			Panel content
		</div>
	</div>
</section>

<section class="container movie-management">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Movie Management<button type="button" class="btn btn-primary pull-right">Add Movie</button></h3>
		</div>
		<div class="panel-body">
			Panel content
		</div>
	</div>
</section>