{{#navbar}}{{/navbar}}

<section class="container users-management hide">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>User Management<button type="button" class="btn btn-primary pull-right adduser">Add User</button></h3>
		</div>
		<div class="panel-body">
		{{#users users}}{{/users}}
		</div>
	</div>
</section>

<section class="container movie-management hide">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Movie Management<button type="button" class="btn btn-primary pull-right addmovie">Add Movie</button></h3>
		</div>
		<div class="panel-body">
		{{#bookings bookings}}{{/bookings}}
		</div>
	</div>
</section>