<section class="container">
	<div class="panel panel-default booking-movie-info">
		<div class="panel-heading">
			Movie Information
	  	</div>
	  	<div class="panel-body">
	  		<div class="col-sm-12 col-md-6 col-lg-6">
				<div class="booking-movie-venue">
					<span class="col-sm-3 col-md-3 col-lg-3">Cineplex: </span>
					<span class="col-sm-9 col-md-9 col-lg-9">AMK Hub</span>
				</div>
				<div class="booking-movie-title">
					<span class="col-sm-3 col-md-3 col-lg-3">Movie Title: </span>
					<span class="col-sm-9 col-md-9 col-lg-9">Rurouni Kenshin The Legend Ends</span>
				</div>
				<div class="booking-movie-date">
					<span class="col-sm-3 col-md-3 col-lg-3">Movie Date: </span>
					<span class="col-sm-9 col-md-9 col-lg-9">18/10/2014</span>
				</div>
				<div class="booking-movie-time">
					<span class="col-sm-3 col-md-3 col-lg-3">Movie Time: </span>
					<span class="col-sm-9 col-md-9 col-lg-9">19:10</span>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 booking-movie-info">
				<div class="booking-movie-duration">
					<span class="col-sm-3 col-md-3 col-lg-3">Duration: </span>
					<span class="col-sm-9 col-md-9 col-lg-9">135 mins</span>
				</div>
				<div class="booking-movie-rating">
					<span class="col-sm-3 col-md-3 col-lg-3">Rating: </span>
					<span class="col-sm-9 col-md-9 col-lg-9">NC16 - Violence</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container">
	<div class="panel panel-default booking-movie-seats">
		<div class="panel-body">
			<div class="booking-seats-selection">
				<div id="test"></div>
			</div>
		</div>
	</div>
</section>