<section class="container">
	<div class="panel panel-default booking-movie-info">
		<div class="panel-heading">
			Movie Information
	  	</div>
	  	{{#moviebookingdetails details}}{{/moviebookingdetails}}
	</div>
</section>
<section class="container">
	<div class="panel panel-default booking-movie-seats">
		<div class="panel-body">
			<div class="booking-seats-container">
				<div class="center-block text-center booking-screen">
					Screen
				</div>
				<div class="booking-seats">
					<div id="seats" class="center-block">
				        <ul id="place">
				        </ul>
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container">
	<div class="panel panel-default booking-movie-control">
	  	<div class="panel-body text-center">
		  	<a class="submitbooking">
			  	<button type="button" class="btn btn-lg btn-danger">SUBMIT BOOKING</button>
			</a>
		  	<a href="#/listing">
		  		<button type="button" class="btn btn-lg btn-info">BACK TO MOVIE SELECTION</button>
		  	</a>
		</div>
	</div>
</section>