{{#navbar}}{{/navbar}}

<section class="container bookings-management">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Booking Management</h3>
		</div>
		<div class="panel-body">
		{{#bookings bookings}}{{/bookings}}
		</div>
	</div>
</section>