<section class="container">
	<div class="jumbotron">
		<h1 class="text-right">Success!</h1>
		<div class="well confirmation-summary">
			<h2>Booking Summary</h2>
			<table class="table table-hover">
				<thead>
				</thead>
				<tbody>
					<tr>
						<td>Cineplex:</td>
						<td>AMK Hub</td>
					</tr>
					<tr>
						<td>Movie Title:</td>
						<td>Rurouni Kenshin The Legend Ends</td>
					</tr>
					<tr>
						<td>Movie Date:</td>
						<td>18/10/2014</td>
					</tr>
					<tr>
						<td>Movie Time:</td>
						<td>19:10</td>
					</tr>
					<tr>
						<td>Duration:</td>
						<td>135 mins</td>
					</tr>
					<tr>
						<td>Rating:</td>
						<td>NC16 - Violence</td>
					</tr>
					<tr>
						<td>Seats:</td>
						<td>A-5, C-10, C-11</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-center">
			<a href="/#/listing">
				<button type="button" class="btn btn-lg btn-primary">Home</button>
			</a>
		</div>
	</div>
</section>