<section class="container">
	<div class="jumbotron">
		<h1 class="text-right">Success!</h1>
		<div class="well confirmation-summary">
			<h2>Booking Summary</h2>
			<table class="table table-hover">
				<thead>
				</thead>
				<tbody>
					{{#confirmation}}{{/confirmation}}
				</tbody>
			</table>
		</div>
		<div class="text-center">
			<a href="#/listing">
				<button type="button" class="btn btn-lg btn-primary">Home</button>
			</a>
		</div>
	</div>
</section>