<section class="container">
	<div class="panel panel-default booking-movie-info">
		<div class="panel-heading">
			Movie Information
	  	</div>
	  	{{#moviebookingdetails details}}{{/moviebookingdetails}}
	</div>
</section>
<section class="container">
	<div class="panel panel-default booking-movie-seats">
		<div class="panel-body">
			<div class="booking-seats-container">
				<div class="center-block text-center booking-screen">
					Screen
				</div>
				<div class="booking-seats">
					<div id="seats" class="center-block">
				        <ul id="place">
				        </ul>
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container">
	<div class="panel panel-default booking-movie-control">
	  	<div class="panel-body text-center">
		  	<span>
		  		<img src="img/seat/available_seat_img.jpg"><strong> - Seat Available</strong>&nbsp;&nbsp;&nbsp;
		  	</span>
		  	<span>
		  		<img src="img/seat/booked_seat_img.jpg"><strong> - Seat Booked</strong>&nbsp;&nbsp;&nbsp;
		  	</span>
		  	<span>
		  		<img src="img/seat/selected_seat_img.jpg"><strong> - Seat Selected</strong>&nbsp;&nbsp;&nbsp;
		  	</span>
		  	<span>
		  		<img src="img/seat/editing_seat_img.jpg"><strong> - Editing Seat</strong>
		  	</span>
		</div>
	</div>
</section>
<section class="container">
	<div class="panel panel-default booking-movie-control">
	  	<div class="panel-body text-center">
		  	<a class="editbooking-submit">
			  	<button type="button" class="btn btn-lg btn-danger">Update Booking</button>
			</a>
		  	<a class="editbooking-cancel">
		  		<button type="button" class="btn btn-lg btn-info">Cancel</button>
		  	</a>
		</div>
	</div>
</section>