{{#navbar}}{{/navbar}}
<section class="container filterContainer">
	<div class="col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Filters / Sorting</h2>
			</div>
			<div class="panel-body">
				<form class="form-inline filters" role="form">
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" id="filterTitle" placeholder="Search Movie Title">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 dropdown">
							<button type="button" class="form-control dropdown-toggle" id="filterLanguage" data-toggle="dropdown">All Languages</button>
							<ul class="dropdown-menu languageDropdown" role="menu">
								<li role="presentation"><a role="menuitem" tabindex="-1">All Languages</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1">English</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1">Chinese</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1">Japanese</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1">Spanish</a></li>
							</ul>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 dropdown">
							<button type="button" class="form-control dropdown-toggle" id="filterSubtitles" data-toggle="dropdown">All Subtitles</button>
						<ul class="dropdown-menu subtitlesDropdown" role="menu">
							<li role="presentation"><a role="menuitem" tabindex="-1">All Subtitles</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1">None</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1">English</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1">Chinese</a></li>
						</ul>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="button" class="form-control dropdown-toggle" id="filtermdarating" data-toggle="dropdown">All MDA Ratings</button>
							<ul class="dropdown-menu mdaratingDropdown" role="menu">
								<li role="presentation"><a role="menuitem" tabindex="-1">All MDA Ratings</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1">UR</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1">PG13</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1">NC16</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1">M18</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1">R21</a></li>
							</ul>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="button" class="form-control dropdown-toggle" id="filterRating" data-toggle="dropdown">Sort by Rating</button>
							<ul class="dropdown-menu ratingDropdown" role="menu">
								<li role="presentation"><a role="menuitem" tabindex="-1">Ascending</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1">Descending</a></li>
							</ul>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="button" class="btn btn-danger" id="filterReset">Reset</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="button" class="btn btn-primary" id="filterSubmit">Filter</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<section class="container">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-body">
			{{#movielisting data}}{{/movielisting}}
			</div>
		</div>
	</div>
</section>