<section class="container">
	<div class="col-sm-4 col-md-4 col-lg-4 listing-item">
		<div class="col-sm-12 col-md-12 col-lg-12 listing-title">
			Rurouni Kenshin The Legend Ends
		</div>
		<div class="col-md-5 col-lg-5 listing-left">
			<img class="listing-thumbnail" src="img/thumbs/kenshin.jpg">
		</div>
		<div class="col-md-7 col-lg-7 listing-right">
			<div class="listing-synopsis">
				To stop Makoto Shishio who aims to conquer Japan, Kenshin arrives in Kyoto and tries to face off against Shishio’s troops. However, his enemy has begun its course to start invading Tokyo with the steel-reinforced battleship. To save captured Kaoru who is thrown into the sea by Shishio’s men, Kenshin also dives in after her but is washed ashore alone, unconscious.
				<br>
				Kenshin recovers with the help of Seijuro Hiko, the master of Kenshin who happens to find him on the shore. He realises he is no match for Shishio unless he learns the ultimate technique of his sword style, and begs the master to teach him.
				<br>
				In the meantime, Shishio finds that Kenshin is still alive, and puts pressure on the government to find Kenshin and execute him in public for his sins during his days as the “Battosai the Killer”. As Kenshin faces his biggest challenge, can Kenshin really defeat his fiercest enemy Shishio, and be reunited with Kaoru?
			</div>
			<div class="listing-book">
				<a href="#/movie"><button type="button" class="btn btn-default btn-sm">BOOK NOW</button></a>
			</div>
		</div>
	</div>

	<div class="col-sm-4 col-md-4 col-lg-4 listing-item">
		<div class="col-sm-12 col-md-12 col-lg-12 listing-title">
			Rurouni Kenshin The Legend Ends
		</div>
		<div class="col-md-5 col-lg-5 listing-left">
			<img class="listing-thumbnail" src="img/thumbs/kenshin.jpg">
		</div>
		<div class="col-md-7 col-lg-7 listing-right">
			<div class="listing-synopsis">
				<p>
					To stop Makoto Shishio who aims to conquer Japan, Kenshin arrives in Kyoto and tries to face off against Shishio’s troops. However, his enemy has begun its course to start invading Tokyo with the steel-reinforced battleship. To save captured Kaoru who is thrown into the sea by Shishio’s men, Kenshin also dives in after her but is washed ashore alone, unconscious.
				</p>
				<p>
					Kenshin recovers with the help of Seijuro Hiko, the master of Kenshin who happens to find him on the shore. He realises he is no match for Shishio unless he learns the ultimate technique of his sword style, and begs the master to teach him.
				</p>
				<p>
					In the meantime, Shishio finds that Kenshin is still alive, and puts pressure on the government to find Kenshin and execute him in public for his sins during his days as the “Battosai the Killer”. As Kenshin faces his biggest challenge, can Kenshin really defeat his fiercest enemy Shishio, and be reunited with Kaoru?
				</p>
			</div>
			<div class="listing-book">
				<a href="#/movie"><button type="button" class="btn btn-default btn-sm">BOOK NOW</button></a>
			</div>
		</div>
	</div>

	<div class="col-sm-4 col-md-4 col-lg-4 listing-item">
		<div class="col-sm-12 col-md-12 col-lg-12 listing-title">
			Rurouni Kenshin The Legend Ends
		</div>
		<div class="col-md-5 col-lg-5 listing-left">
			<img class="listing-thumbnail" src="img/thumbs/kenshin.jpg">
		</div>
		<div class="col-md-7 col-lg-7 listing-right">
			<div class="listing-synopsis">
				<p>
					To stop Makoto Shishio who aims to conquer Japan, Kenshin arrives in Kyoto and tries to face off against Shishio’s troops. However, his enemy has begun its course to start invading Tokyo with the steel-reinforced battleship. To save captured Kaoru who is thrown into the sea by Shishio’s men, Kenshin also dives in after her but is washed ashore alone, unconscious.
				</p>
				<p>
					Kenshin recovers with the help of Seijuro Hiko, the master of Kenshin who happens to find him on the shore. He realises he is no match for Shishio unless he learns the ultimate technique of his sword style, and begs the master to teach him.
				</p>
				<p>
					In the meantime, Shishio finds that Kenshin is still alive, and puts pressure on the government to find Kenshin and execute him in public for his sins during his days as the “Battosai the Killer”. As Kenshin faces his biggest challenge, can Kenshin really defeat his fiercest enemy Shishio, and be reunited with Kaoru?
				</p>
			</div>
			<div class="listing-book">
				<a href="#/movie"><button type="button" class="btn btn-default btn-sm">BOOK NOW</button></a>
			</div>
		</div>
	</div>

	<div class="col-sm-4 col-md-4 col-lg-4 listing-item">
		<div class="col-sm-12 col-md-12 col-lg-12 listing-title">
			Rurouni Kenshin The Legend Ends
		</div>
		<div class="col-md-5 col-lg-5 listing-left">
			<img class="listing-thumbnail" src="img/thumbs/kenshin.jpg">
		</div>
		<div class="col-md-7 col-lg-7 listing-right">
			<div class="listing-synopsis">
				<p>
					To stop Makoto Shishio who aims to conquer Japan, Kenshin arrives in Kyoto and tries to face off against Shishio’s troops. However, his enemy has begun its course to start invading Tokyo with the steel-reinforced battleship. To save captured Kaoru who is thrown into the sea by Shishio’s men, Kenshin also dives in after her but is washed ashore alone, unconscious.
				</p>
				<p>
					Kenshin recovers with the help of Seijuro Hiko, the master of Kenshin who happens to find him on the shore. He realises he is no match for Shishio unless he learns the ultimate technique of his sword style, and begs the master to teach him.
				</p>
				<p>
					In the meantime, Shishio finds that Kenshin is still alive, and puts pressure on the government to find Kenshin and execute him in public for his sins during his days as the “Battosai the Killer”. As Kenshin faces his biggest challenge, can Kenshin really defeat his fiercest enemy Shishio, and be reunited with Kaoru?
				</p>
			</div>
			<div class="listing-book">
				<a href="#/movie"><button type="button" class="btn btn-default btn-sm">BOOK NOW</button></a>
			</div>
		</div>
	</div>

	<div class="col-sm-4 col-md-4 col-lg-4 listing-item">
		<div class="col-sm-12 col-md-12 col-lg-12 listing-title">
			Rurouni Kenshin The Legend Ends
		</div>
		<div class="col-md-5 col-lg-5 listing-left">
			<img class="listing-thumbnail" src="img/thumbs/kenshin.jpg">
		</div>
		<div class="col-md-7 col-lg-7 listing-right">
			<div class="listing-synopsis">
				<p>
					To stop Makoto Shishio who aims to conquer Japan, Kenshin arrives in Kyoto and tries to face off against Shishio’s troops. However, his enemy has begun its course to start invading Tokyo with the steel-reinforced battleship. To save captured Kaoru who is thrown into the sea by Shishio’s men, Kenshin also dives in after her but is washed ashore alone, unconscious.
				</p>
				<p>
					Kenshin recovers with the help of Seijuro Hiko, the master of Kenshin who happens to find him on the shore. He realises he is no match for Shishio unless he learns the ultimate technique of his sword style, and begs the master to teach him.
				</p>
				<p>
					In the meantime, Shishio finds that Kenshin is still alive, and puts pressure on the government to find Kenshin and execute him in public for his sins during his days as the “Battosai the Killer”. As Kenshin faces his biggest challenge, can Kenshin really defeat his fiercest enemy Shishio, and be reunited with Kaoru?
				</p>
			</div>
			<div class="listing-book">
				<a href="#/movie"><button type="button" class="btn btn-default btn-sm">BOOK NOW</button></a>
			</div>
		</div>
	</div>
</section>