<section class="movie-info">
<div class="container">
	<div class="col-sm-12 col-md-5 col-lg-5 movie-poster">
		<img src="img/kenshin.jpg">
	</div>
	<div class="col-sm-12 col-md-5 col-lg-5 movie-details">
		<div class="col-sm-12 col-md-12 col-lg-12 movie-title">
			Rurouni Kenshin The Legend Ends ~ 浪客剑心: 传说落幕篇
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 movie-cast">
			<span class="col-sm-3 col-md-3 col-lg-3">Cast</span>
			<span class="col-sm-9 col-md-9 col-lg-9">Takeru Satoh</span>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 movie-director">
			<span class="col-sm-3 col-md-3 col-lg-3">Director</span>
			<span class="col-sm-9 col-md-9 col-lg-9">Keishi Otomo</span>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 movie-language">
			<span class="col-sm-3 col-md-3 col-lg-3">Language</span>
			<span class="col-sm-9 col-md-9 col-lg-9">Japanese with English Subtitles</span>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 movie-runtime">
			<span class="col-sm-3 col-md-3 col-lg-3">Runtime</span>
			<span class="col-sm-9 col-md-9 col-lg-9">135 mins</span>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 movie-rating">
			<span class="col-sm-3 col-md-3 col-lg-3">Runtime</span>
			<span class="col-sm-9 col-md-9 col-lg-9">NC16 - Violence</span>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 movie-book">
			<a href="/#/booking"><button type="button" class="btn btn-default btn-sm">BOOK NOW</button></a>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 movie-synopsis">
			To stop Makoto Shishio who aims to conquer Japan, Kenshin arrives in Kyoto and tries to face off against Shishio’s troops. However, his enemy has begun its course to start invading Tokyo with the steel-reinforced battleship. To save captured Kaoru who is thrown into the sea by Shishio’s men, Kenshin also dives in after her but is washed ashore alone, unconscious.
			<br><br>
			Kenshin recovers with the help of Seijuro Hiko, the master of Kenshin who happens to find him on the shore. He realises he is no match for Shishio unless he learns the ultimate technique of his sword style, and begs the master to teach him.
			<br><br>
			In the meantime, Shishio finds that Kenshin is still alive, and puts pressure on the government to find Kenshin and execute him in public for his sins during his days as the “Battosai the Killer”. As Kenshin faces his biggest challenge, can Kenshin really defeat his fiercest enemy Shishio, and be reunited with Kaoru?
		</div>
	</div>
</div>
</section>
<section class="movie-showtimes">
	<div class="container">
		<h3>Showtimes</h3>
		<div class="movie-showtime-container">
			<div class="movie-showtime-venue">
				AMK HUB
			</div>
			<div>
				<ul class="col-sm-12 col-md-12 col-lg-12 movie-showtime-list">
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">TODAY</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">19 OCT, SUN</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">20 OCT, MON</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">21 OCT, TUE</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">22 OCT, WED</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
				</ul>
			</div>
			<div class="movie-showtime-venue">
				AMK HUB
			</div>
			<div>
				<ul class="col-sm-12 col-md-12 col-lg-12 movie-showtime-list">
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">TODAY</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">19 OCT, SUN</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">20 OCT, MON</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">21 OCT, TUE</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">22 OCT, WED</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
				</ul>
			</div>
			<div class="movie-showtime-venue">
				AMK HUB
			</div>
			<div>
				<ul class="col-sm-12 col-md-12 col-lg-12 movie-showtime-list">
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">TODAY</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">19 OCT, SUN</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">20 OCT, MON</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">21 OCT, TUE</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
					<li>
						<span class="col-sm-6 col-md-2 col-lg-2 movie-showtime-date">22 OCT, WED</span>
						<span class="col-sm-6 col-md-10 col-lg-10">
							<ul class="movie-showtime-timelist">
								<li><a href="/#/booking">00:45</a></li>
								<li><a href="/#/booking">13:45</a></li>
								<li><a href="/#/booking">16:30</a></li>
								<li><a href="/#/booking">19:15</a></li>
								<li><a href="/#/booking">22:00</a></li>
							</ul>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>