{{#navbar}}{{/navbar}}
<section class="movie-info">
<div class="container">
	{{#moviedetails details}}{{/moviedetails}}
</div>
</section>
<section class="movie-showtimes">
	<div class="container">
		<h3>Showtimes</h3>
		<div class="movie-showtime-container">
		{{#showtimeslist showtimes}}{{/showtimeslist}}
		</div>
	</div>
</section>